.imageSection {
  ul {
    list-style-type: none;
  }

  li {
    padding-left: 1.3em;

    &:before {
      content: attr(data-label);
      display: inline-block;
      margin-left: -1.3em;
      width: 1.3em;
    }
  }
}
