@import '../../styles/_base';

.document-section {
  position: relative;

  .control-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    background-color: white;
  }

  &:hover > .control-panel {
    display: block;
    z-index: 1;
  }
}

.md-container {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 15px 45px;
}

.edit-box {
  font-family: $coding-font-stack;
}
