@()

<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="http://localhost:3000/assets/bundle.css">
    </head>
    <body>
        <script src="@routes.ApplicationController.javascriptRoutes"></script>
        <script src="http://localhost:3000/assets/bundle.js"></script>
    </body>
</html>
