.projectIconContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px 10px;
}

.projectName {
  font-size: 14px;
  margin: 4px;
}

.link {
  color: #333333;
  text-decoration: none;
}
