<div class="pollo-view">
    <div class="img-container">
        <img src="http://s3.amazonaws.com/rapgenius/Fluffy_chick_stock_1_by_InKi_Stock.jpg" ng-click="addPollo($event)">
        <pollito pollo="pollo"></pollito>
        <pollito pollo="pollito"
            ng-repeat="pollito in pollos"
            ng-mouseenter="activate($index)"
            ng-click="edit(pollito)"
            ng-class="{active: $index === activePollo}"></pollito>
    </div>
    <div class="md">
        <div
            ng-repeat="pollito in pollos"
            ng-click="edit(pollito)"
            ng-bind-html="pollito.text | markdown"
            ng-class="{active: $index === activePollo, inactive: $index !== activePollo}"
            ng-mouseenter="activate($index)">
        </div>
        <div class="edit" ng-if="pollo">
            <div ng-bind-html="pollo.text | markdown"></div>
            <div><textarea ng-model="pollo.text"></textarea></div>
            <button ng-click="savePollo()">Save</button>
        </div>
    </div>
</div>